<meta name='supported-color-schemes' content='light'>
<div>
  <div style="display:flex;margin:0 auto; width:100%; background-image: url('https://cryppush.net/template.jpg');background-size:100% 100%;color:#fbfeff;border-radius:40px;">
    <div style="padding:35px;text-align: center;width:100%;">
      <a style="text-decoration:none;" href="{{ InstanceAddress }}">
        <img style="width:347px;" src="https://cryppush.net/logo-email.png" alt="">
      </a>
      <h3 style="color: #666666;font-size:30px;margin-bottom:30px;">Password reset on Cryppush.net</h3>

      <h3 style="font-size:18px;color: #666666;text-align:left;">
        <p style="color:#666666;">You can continue the password change procedure on the {{ InstanceName }} service using a link. </p>
        <span style="font-size: 20px; font-weight: 700; color:#666666;">
          <a style="text-decoration:none;" href="{{ token }}">
            Reset password
          </a>
        </span><br>
        <p style="color:#666666;">If you have not requested a password reset, please ignore this email.</p>
      </h3>

      <br>

      <p style="text-align:left;color: #666666;font-weight: bold;margin-top:30px; font-size:14px;margin-bottom:22px;">Your CRYPPUSH</p>

      <div style="width:100%; border-top: 1px solid #0C3483; border-bottom: 1px solid #0C3483;padding-top:12px;padding-bottom:12px;">
        <div style="display:flex;width:100%;">
          <div style="width:50%;text-align:left;">
            <img style="width:147px;" src="https://cryppush.net/logo-email.png" alt="">
            <p style="font-size:10px;margin-top:12px;color:#666666">An AI-powered crypto bot that allows you fully automate your trading.</p>
          </div>
          <div style="width:50%;">
            <p style="font-weight:bold;font-size:16px;color:#666666;text-align:right;">Follow us on social media</p>
            <div style="text-align:right;">
              <p style="text-align:right;">
                <a href='https://t.me/Crypush_bot'><img style="width:23px;margin-right:44px;" src="https://cryppush.net/ico-telegram-email.png" alt=""></a>
                <a href='https://twitter.com/crypushbot'><img style="width:23px;margin-right:44px;" src="https://cryppush.net/ico-twitter-email.png" alt=""></a>
                <a href='https://www.instagram.com/cryppush/'><img style="width:23px;" src="https://cryppush.net/ico-instagram-email.png" alt=""></a>
              </p>
            </div>
          </div>
        </div>
        <p style="text-align:center;color:#666666;font-size:10px;margin-bottom:10px;margin-top:12px;">©2017-2023 Copyright by CryppushTM - All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
